* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(245, 245, 245);
  }

#top{
  width: 100%;
  /* height: 926px; */
  display: grid;
  grid-template-rows: 1.8fr 0.2fr;
  height: 969px;
}

.init{
  width: 60%;
  margin: 0 auto;
  margin-top: 200px;
} 

.frame{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo h2{
  width: 302px;
  height: 106px;
  font-size: 50px;
  font-weight: 700;
  color: #1877f2;
  padding: 30px;  
  /* margin : auto -> 다 가운데 정렬 */
}

.logo h3{
  width: 500px;
  height: 84px;
  margin-right: 30px;
  margin-left: 20px;
}

.authentication{
  background-color: white;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 20px;
}

.login{
  background-color: #fff;
  border-radius: 6px;
  padding: 25px;
  text-align: center;
  border-color: #ccc;
}

.login input{
  width: 340px;
  font-size: 22px;
  line-height: 50px;
  border-radius: 7px;
  border: 0.5px solid #6f6d6d;
  outline: none;
}
.login input:hover{
  border-width: 2px;
  border-color : rgb(105, 105, 247)
}




 .submit2{
  font-size: 22px;
  width: 340px;
  height: 43px;
  background-color: #1877f2;
  color: #fff;
  border-radius: 6px;
  border-color: #ccc;

}

/* 비밀번호를 잊으셨나요? 와 hr사이 간격 */
.line{
  border-top: 1px solid #4444;
  margin: 30px auto;
  width: 300px;
}

.pwCheck{
  text-decoration: none;
  color: #1877f2;
}

.pwCheck:hover{
  text-decoration: underline;

}

.login.signup {
  font-size: 25px;
  background-color: #0ae728;
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 40%;
}
/* 새계정 배경색 */
.create{
  background-color:#fff;

}


/* 새 계정 만들기 */
.signup{
  display: inline-block !important;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(61, 234, 61);
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.signup:hover{
  background-color: #13671e;

}

/* modal 닫기 버튼 */
#remove{
  cursor: pointer;
}


footer{
    height: 200px;
    background-color: #a3add342;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > p{font-weight: bold;}

/* article의 모든 자식 */
footer > article > *{
  font-size: 14px;
  margin: 16px 0;
}

footer a{
  font-size: 14px;
  margin: 16px 0;
}

footer a{
  color: black;
  text-decoration: none;
}

footer span{
  padding: 0 10px;
}


/* 메세지 색상 지정 */
.confirm{ border : 1px solid green; }
.error{ border : 1px solid red; }

#insert2 > p{
  display: flex;
  justify-content: center;
}

#cross{
  text-align: center;
}

#box1{
  display: flex;
  justify-content: center;
}





#modal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  top:0;
  left: 0;
}

#insert{
  position: absolute;
  
  top: 6%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  width: 500px;
  height: 650px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  rgb(265, 237, 252);
}

#insert > *{box-sizing: border-box;}

/* 닫기 버튼 */
#remove{
  display: flex;
  position: absolute;
  top: 10px; 
  right: 10px;
}


/* 가입하기 (맨위) insert2 폰트크기 */
#insert2{
  font-size: 30px;
  font-weight: bold;
}

/* 빠르고 쉽게 가입할 수 있습니다. */
#cross{
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  width: 494px;
  height: 53px;
  font-size: 15px;
}

/* input (이름,성별..) 박스 크기 */
.box>input{
  margin-bottom: 10px;
  width: 304px;
  height: 30px;
  border-radius: 5px;
  border:solid 1px #6f6d6d;
  background-color: #f5f6f7;
}

/* phone 화살표 제거 */
#memberTel{ 
  -webkit-appearance: none;
}


/* input을 감싸고 있는 div의 display */

#box1{
  display: inline-block;
  margin-left: 90px;
}

/* 연도 */
.bir{
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
}

/* 연도 선택 */
#date>select{
  margin-bottom: 10px;
  display: inline-block;
  width: 100px;
  height: 30px;
}

/* 성별 */
.gender{
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

#choose{
  display: flex;
  align-items: center;
  margin: 10px 0;
}

#choose>input{
  display: inline-block;
  width: 50px;
  height: 20px;
}



/* 가입하기 버튼 */
#btn{
  display: block;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(61, 234, 61);
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-left: 90px;
  margin-top: 30px;
}

#sendAutoKeyBtn{
  border: 1px solid #8c8686;
  cursor: pointer;
  border-radius: 5px;
  
}

#sendAutoKeyBtn:hover{
  background-color: #ccc;
  border-radius: 5px;
}


#checkAuthKeyBtn{
  border: 1px solid #8c8686;
  cursor: pointer;
  border-radius: 5px;
}

#checkAuthKeyBtn:hover{
  background-color: #ccc;
  border-radius: 5px;
}




