/***************************폰트 설정*********************************/
@font-face {
  font-family: 'NotoSansKR';
  src: url('/resources/fonts/NotoSansKR-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'NotoSansKR';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/********************************************************************/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(245, 245, 245);
  }



#top{
  width: 100%;
  display: grid;
  align-content: space-evenly;
  grid-template-rows: 1fr 1fr 1fr;
  height: 969px;
}

.init{
  width: 60%;
  margin: 0 auto;
  margin-top: 200px;
} 

.frame{
  display: flex;
  flex-direction: column;  /* 세로로 바뀜 */
  align-items: center;
  justify-content: center;
}

.main-home-logo{
  display: flex; 
  justify-content: center;
}


.logo h2{
  width: 302px;
  height: 106px;
  font-size: 50px;
  font-weight: 700;
  color: #1877f2;
  padding: 30px;  
  /* margin : auto -> 다 가운데 정렬 */
}

.logo h3{
  width: 500px;
  height: 84px;
  margin-right: 30px;
  margin-left: 20px;
}

.authentication{
  background-color: white;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 20px;
  margin-bottom: 50px;
}

.login{
  background-color: #fff;
  border-radius: 90px;
  padding: 25px;
  text-align: center;
  border-color: #ccc;
}

.login input{
  width: 340px;
  font-size: 22px;
  line-height: 50px;
  border-radius: 7px;
  border: 0.5px solid #6f6d6d;
  outline: none;
  padding: 0 10px;
}
.login input:hover{
  border-width: 2px;
  border-color : rgb(105 156 233);
}




.submit2{
  font-weight: bold;
  font-size: 22px;
  width: 340px;
  height: 43px;
  background-color: #56A8C5;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.submit2:hover{
  background-color:  #56A8C5 ;
  box-shadow: 3px 5px 11px 2px  #ccc;
}

/* 비밀번호를 잊으셨나요? 와 hr사이 간격 */
.line{
  border-top: 1px solid #4444;
  margin: 30px auto;
  width: 300px;
}


.pwCheck{
  text-decoration: none;
  color: rgba(36, 34, 34, 0.733);
}

.pwCheck:hover{
  text-decoration: underline;

}

.login.signup {
  font-size: 25px;
  background-color: #99d1a0;
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 40%;
}
/* 새계정 배경색 */
.create{
  background-color:#fff;

}


/* 새 계정 만들기 */
.signup{
  display: inline-block !important;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(105, 156, 233);
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.signup:hover{
  background-color: rgb(63, 122, 211);

}

/* modal 닫기 버튼 */
#remove{
  cursor: pointer;
}


.main-bottom{
    height: 210px;
    background-color: #e0e3ed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-bottom > div {
  display: flex;
  background-color: #e0e3ed;
}

.main-bottom > div:nth-child(1){
  font-weight: bold;
  color: #4c4c4c;
  height: 21px;
  display: flex;
  align-items: center;

}
/* .main-bottom > div:nth-child(2){
  color: #4c4c4c;
  font-weight: bold;
  padding : 0 10px;
  height: 21px;
  display: flex;
  align-items: center;
  border-right: 1px solid #4c4c4c;
} */
/* .main-bottom > div:nth-child(3){
  color: #4c4c4c;
  font-weight: bold;
  padding-left: 10px;
  
} */


.main-bottom > div > a {
  display: flex;
  background-color: #e0e3ed;
  text-decoration: none;
  
  color: #4c4c4c;
  font-weight: bold;
}


.main-bottom > p{font-weight: bold;}

/* article의 모든 자식 */
/* footer > article > *{

  font-size: 14px;
  margin: 16px 0;
} */
/* 
.main-bottom a{
  font-size: 14px;
  margin: 16px 0;
}

.main-bottom a{
  color: black;
  text-decoration: none;
}
#e0e3ed
.main-bottom span{
  padding: 0 10px; 
} */



#insert2 > p{
  display: flex;
  justify-content: center;
}

#cross{
  text-align: center;
}

#box1{
  display: flex;
  justify-content: center;
}





#modal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  top:0;
  left: 0;
}

#insert{
  position: absolute;
  
  top: 6%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  width: 500px;
  height: 650px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  whitesmoke;
}

#insert > *{box-sizing: border-box;}

/* 닫기 버튼 */
#remove{
  display: flex;
  position: absolute;
  top: 10px; 
  right: 10px;
}


/* 가입하기 (맨위) insert2 폰트크기 */
#insert2{
  font-size: 30px;
  font-weight: bold;
}

/* 빠르고 쉽게 가입할 수 있습니다. */
#cross{
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  width: 494px;
  height: 53px;
  font-size: 15px;
}

/* input (이름,성별..) 박스 크기 */
.box>input{
  margin-bottom: 10px;
  width: 304px;
  height: 30px;
  border-radius: 5px;
  border:solid 1px #6f6d6d;
  background-color: #f5f6f7;
  padding-left: 8px;
}

/* memberTel 화살표 제거 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


/* input을 감싸고 있는 div의 display */

#box1{
  display: inline-block;
  margin-left: 90px;
}

/* 연도 */
.bir{
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
}

/* 연도 선택 */
#date>select{
  margin-bottom: 10px;
  display: inline-block;
  width: 100px;
  height: 30px;
}

/* 성별 */
.gender{
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

#choose{
  display: flex;
  align-items: center;
  margin: 10px 0;
}

#choose>input{
  display: inline-block;
  width: 50px;
  height: 20px;
}



/* 가입하기 버튼 */
#btn{
  display: block;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(105, 156, 233);
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-left: 90px;
  margin-top: 30px;
  cursor: pointer;
}

#btn:hover{
  background-color: rgb(105, 156, 233);
  box-shadow: 5px 3px 8px 1px  #CCC}

#sendAuthKeyBtn{
  width: 90px;
  height: 21px;
  border: 1px solid #c5c4c4;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: rgb(164, 167, 171);
  
}

#sendAuthKeyBtn:hover{
  background-color: #8c8686; 
  border-radius: 5px;
  box-shadow: 5px 3px 8px 1px  #979797;
  color: white;
}


#checkAuthKeyBtn{
  width: 90px;
  height: 21px;
  border: 1px solid #8c8686;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color:rgb(164, 167, 171);
}

#checkAuthKeyBtn:hover{
  background-color: #8c8686;
  border-radius: 5px;
  box-shadow: 5px 3px 8px 1px  #979797;
  color: white;
}

/* 느낌표 제거 */ 
.hidden {
  display: none !important;
}

#bangWarn1 > img{
  width: 25px;
  height: 23px;
  z-index: 1000;
  position: absolute;
  background-color: #e4cac2;
  margin-top: 3px;
  right: 108px;
}

#bangWarn3>img{
  width: 25px;
  height: 23px;
  z-index: 1000;
  position: absolute;
  background-color: #e4cac2;
  margin-top: 3px;
  right: 108px;
}
#bangWarn4>img{
  width: 25px;
  height: 23px;
  z-index: 1000;
  position: absolute;
  background-color: #e4cac2;
  margin-top: 3px;
  right: 108px;
}
#bangWarn5>img{
  width: 25px;
  height: 23px;
  z-index: 1000;
  position: absolute;
  background-color: #e4cac2;
  margin-top: 3px;
  right: 108px;
}
#bangWarn6>img{
  width: 25px;
  height: 23px;
  z-index: 1000;
  position: absolute;
  background-color: #e4cac2;
  margin-top: 3px;
  right: 108px;
}






