/***************************폰트 설정*********************************/
@font-face {
    font-family: 'NotoSansKR';
    src: url('/resources/fonts/NotoSansKR-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'NotoSansKR';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/********************************************************************/

.temp {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.temp input {
    display: none;
}

.temp button {
    display: block;
    border: none;
    background-color: black;
    color: white;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

.temp button:hover {
    background-color: darkgray;
}