<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	
	<!-- 계정 복구 -->
	<update id="deleteMember">
		UPDATE "MEMBER"
		SET		MEMBER_CODE = 'N'
		WHERE 	MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 계정 삭제 -->
	<update id="recoverMember">
		UPDATE "MEMBER"
		SET		DELETE_DATE = SYSDATE,
				MEMBER_CODE = 'D'
		WHERE 	MEMBER_NO = #{memberNo}
	</update>
	
</mapper>
