<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alarmMapper">

	<resultMap type="Alarm" id="alarm_rm">
		<result property="alarmNo" column="ALARM_NO" />
		<result property="alarmContent" column="ALARM_CONTENT" />
		<result property="alarmDate" column="ALARM_DATE" />
		<result property="alarmFl" column="ALARM_FL" />
		<result property="memberNo" column="MEMBER_NO" />
	</resultMap>

	<!-- 알람 목록 조회 -->
	<select id="alarmList" resultMap="alarm_rm">
		SELECT ALARM_CONTENT
		FROM "ALARM"
		WHERE ALARM_FL = 'N'
		AND MEMBER_NO = #{memberNo}
		ORDER BY ALARM_NO DESC
	</select>
	
	<!-- DB에 알람 내용 저장 -->
	<insert id="insert">
		<selectKey order="BEFORE" resultType="_int" keyProperty="alarmNo">
			SELECT SEQ_ALARM_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT
		INTO 	"ALARM"
		VALUES(	#{alarmNo}, 
				#{alarmContent},
				SYSDATE, 
				DEFAULT, 
				#{memberNo}
		)
	</insert>
	
	<!-- 알람 수신 설정 여부 조회 -->
	<select id="checkAlarmSetting" resultType="string">
		SELECT ${column} FROM "MEMBER" WHERE MEMBER_NO = ${memberNo}
	</select>
</mapper>