<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="feedbackMapper">

	<resultMap type="Feedback" id="feedback_rm">
		<id property="feedbackNo" column="FEEDBACK_NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="feedbackContent" column="FEEDBACK_CONTENT" />
		<result property="feedbackDate" column="FEEDBACK_DATE" />
		<result property="adminNo" column="ADMIN_NO" />
		<result property="adminComment" column="ADMIN_COMMENT" />
		<result property="confirmFlag" column="CONFIRM_FL" />
		<result property="confirmDate" column="CONFIRM_DATE" />
		
		<result property="memberName" column="MEMBER_NAME" />
	</resultMap>
	
	<!-- 의견 수 조회 -->
	<select id="getFeedbackCount" resultType="_int">
		SELECT COUNT(*) FROM "FEEDBACK"
	</select>
	
	<!-- 의견 목록 조회 -->
	<select id="selectFeedbackList" resultMap="feedback_rm">
		SELECT *
		FROM "FEEDBACK"
		ORDER BY CONFIRM_FL ASC, FEEDBACK_NO DESC
	</select>
	
	<!-- 의견 상세 조회 -->
	<select id="getFeedback" resultMap="feedback_rm">
		SELECT FEEDBACK_NO, MEMBER_NO, FEEDBACK_CONTENT, ADMIN_NO, ADMIN_COMMENT, CONFIRM_FL, MEMBER_NAME,
			TO_CHAR(FEEDBACK_DATE, 'YYYY-MM-DD HH24:MI:SS') FEEDBACK_DATE,
			TO_CHAR(CONFIRM_DATE, 'YYYY-MM-DD HH24:MI:SS') CONFIRM_DATE
		FROM "FEEDBACK" JOIN "MEMBER" USING(MEMBER_NO)
	    WHERE FEEDBACK_NO = #{feedbackNo}
	</select>
	
	<!-- 회원 의견 처리 + 관리자 의견 추가 -->
	<update id="confirmFeedback">
		UPDATE "FEEDBACK" 
		SET		CONFIRM_FL = 'Y', 
				ADMIN_NO = #{adminNo}, 
				ADMIN_COMMENT = #{adminComment}, 
				CONFIRM_DATE = SYSDATE
		WHERE 	FEEDBACK_NO = #{feedbackNo}
	</update>
	
	<!-- 새로운 의견 등록 -->
	<insert id="feedback">
		INSERT 
		INTO "FEEDBACK" 
      	VALUES (
	      	SEQ_FEEDBACK_NO.NEXTVAL,
			#{memberNo},
			#{feedbackContent},
			DEFAULT,
			NULL,
			NULL,
			DEFAULT,
			NULL
      	)
	</insert>
	
	<!-- 검색결과 게시글 수 조회 -->
	<select id="getFeedbackSearchCount" resultType="_int">
		SELECT  COUNT(*) 
		FROM   "FEEDBACK"
				JOIN "MEMBER" USING(MEMBER_NO)
		<if test="query != null">
			WHERE   (FEEDBACK_NO LIKE '%${query}%'
			        OR MEMBER_NO LIKE '%${query}%'
			        OR FEEDBACK_CONTENT LIKE '%${query}%'
			        OR MEMBER_NAME LIKE '%${query}%')
        </if>
        <if test="query == null">
    		WHERE 1=1
    	</if>
        <choose>
        	<when test='op == "처리중"'>
        		<!-- 내용 -->
	        	AND CONFIRM_FL='N'
        	</when>
        	<when test='op == "처리완료"'>
        		<!-- 제목 + 내용 -->
	        	AND CONFIRM_FL='Y'
        	</when>
        </choose>
	</select>
	
	<!-- [검색] 게시글 목록 조회 -->
	<select id="selectFeedbackSearchList" resultMap="feedback_rm">
		SELECT  *
		FROM   "FEEDBACK"
				JOIN "MEMBER" USING(MEMBER_NO)
		<if test="query != null">
			WHERE   (FEEDBACK_NO LIKE '%${query}%'
			        OR MEMBER_NO LIKE '%${query}%'
			        OR FEEDBACK_CONTENT LIKE '%${query}%'
			        OR MEMBER_NAME LIKE '%${query}%')
        </if>
        <if test="query == null">
	    		WHERE 1=1
    	</if>
	    <choose>
        	<when test='op == "처리중"'>
	        	AND CONFIRM_FL='N'
        	</when>
        	<when test='op == "처리완료"'>
	        	AND CONFIRM_FL='Y'
        	</when>
        </choose>
		ORDER BY CONFIRM_FL ASC, FEEDBACK_NO DESC
	</select>
	
</mapper>
