<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mainFeedMapper">

	<resultMap type="Board" id="board_rm">
		<!-- DB의 기본 키(복합키면 여러 개 작성) -->
		<id property="memberNo" column="MEMBER_NO" />
		<id property="boardNo" column="BOARD_NO"/>
		
		<!-- DB의 일반 컬럼들 -->
		<result property="boardText" column="BOARD_TEXT" />
		<result property="uploadDate" column="UPLOAD_DATE" />
		<result property="contentLike" column="CONTENT_LIKE" />
		<result property="delete" column="DELETE" />
		<result property="updateDate" column="UPDATE_DATE" />
		<result property="disableDate" column="DISABLE_DATE" />
		
		<!-- JOIN 컬럼들 -->
		<result property="memberName" column="MEMBER_NAME" />
		<result property="profileImage" column="INFO_IMG" />
	
		<collection property="imageList" select="selectImageList"
				column="BOARD_NO"
				javaType="java.util.ArrayList" 
				ofType="Image"/>
	</resultMap>
	
	
	<!-- BoardImage resultMap -->
	<resultMap type="Image" id="image_rm">
		<id property="imgNo" column="IMG_NO"/>
		<result property="imgPath" column="IMG_PATH"/>
		<result property="imgReName" column="IMG_RENAME"/>
		<result property="imgOriginal" column="IMG_ORIGINAL"/>
		<result property="imgOrder" column="IMG_ORDER"/>
		<result property="boardNo" column="BOARD_NO"/>
	</resultMap>
	
	<!-- 게시글 확인 -->
	<select id="feedList" resultMap="board_rm">
		SELECT BOARD_NO, MEMBER_NAME,BOARD_TEXT,MEMBER_NO, INFO_PROFILEPATH||INFO_PROFILE INFO_IMG,
		<![CDATA[
		CASE  
			WHEN SYSDATE - UPLOAD_DATE < 1/24/60
			THEN FLOOR( (SYSDATE - UPLOAD_DATE) * 24 * 60 * 60 ) || '초 전'
			WHEN SYSDATE - UPLOAD_DATE < 1/24
			THEN FLOOR( (SYSDATE - UPLOAD_DATE) * 24 * 60) || '분 전'
			WHEN SYSDATE - UPLOAD_DATE < 1
			THEN FLOOR( (SYSDATE - UPLOAD_DATE) * 24) || '시간 전'
			ELSE TO_CHAR(UPLOAD_DATE, 'YYYY-MM-DD')
		END UPLOAD_DATE
		]]>
		FROM BOARD b 
		JOIN MEMBER USING(MEMBER_NO) JOIN "MEMBER_INFO" USING(MEMBER_NO)
		WHERE "DELETE" = 'N'
		ORDER BY BOARD_NO DESC
	</select>
	
	<select id="selectImageList" resultMap="image_rm">
	SELECT * FROM "IMAGE"
	WHERE BOARD_NO=#{boardNo}
	ORDER BY IMG_ORDER DESC
	
	</select>
	
	<!-- 게시글 등록 -->
	<insert id="feedInsert" parameterType="Board" useGeneratedKeys="true">
		<selectKey order="BEFORE" resultType="_int" keyProperty="boardNo">
			SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
		</selectKey>
       	INSERT INTO BOARD 
       	VALUES( #{boardNo},
              #{boardText},
              DEFAULT, DEFAULT, DEFAULT,
              #{memberNo} ,NULL
              )
	
	</insert>
	
	
		<insert id="insertImageList" parameterType="list" >
	INSERT INTO "IMAGE" 
SELECT SEQ_IMG_NO.NEXTVAL, A.*
FROM (
	
	<foreach collection="list" item="img" separator=" UNION ALL ">
	
SELECT #{img.imgPath} IMG_PATH, #{img.imgReName} IMG_RENAME, #{img.imgOriginal} IMG_ORGINAL,
		#{img.imgOrder} IMG_ORDER, #{img.boardNo} BOARD_NO
FROM DUAL

	</foreach>
)A

	
	</insert>
	
	<!-- 게시글 삭제 -->
		<update id="feedDelete">
			UPDATE "BOARD" SET
			"DELETE" = 'Y'
			WHERE MEMBER_NO =#{memberNo}
			AND BOARD_NO =#{boardNo}
	
		</update>
		
		
		<!-- 게시글 수정  -->
	<update id="feedUpdate">
		UPDATE "BOARD" SET
		BOARD_TEXT = #{boardText},
		UPDATE_DATE = SYSDATE 
		WHERE BOARD_NO = #{boardNo}
	</update>
		
		<!-- 게시글 수정 중 이미지삭제 -->
		
	<delete id="imageDelete">
		DELETE FROM "IMAGE"
		WHERE BOARD_NO = #{boardNo}
		AND IMG_ORDER IN(${deleteList})
	</delete>
	
	<!-- 게시글 이미지 수정   -->
		<update id="imageUpdate">
			UPDATE "IMAGE" SET
			IMG_PATH = #{imgPath},
			IMG_ORIGINAL = #{imgOriginal},
			IMG_RENAME = #{imgReName}
			WHERE BOARD_NO = #{boardNo}
			AND IMG_ORDER = #{imgOrder}
		</update>
		
	<!-- 게시글 이미지 하나   -->
	
		<insert id="imgInsert">
			INSERT INTO "IMAGE"
			VALUES(SEQ_IMG_NO.NEXTVAL,#{imgPath},#{imgReName},
			#{imgOriginal},#{imgOrder},#{boardNo})
			
		</insert>
		
		
		
	<select id="selectOne" resultMap="board_rm">
		SELECT BOARD_NO, MEMBER_NAME,BOARD_TEXT,MEMBER_NO, INFO_PROFILEPATH||INFO_PROFILE INFO_IMG,
		<![CDATA[
		CASE  
			WHEN SYSDATE - UPLOAD_DATE < 1/24/60
			THEN FLOOR( (SYSDATE - UPLOAD_DATE) * 24 * 60 * 60 ) || '초 전'
			WHEN SYSDATE - UPLOAD_DATE < 1/24
			THEN FLOOR( (SYSDATE - UPLOAD_DATE) * 24 * 60) || '분 전'
			WHEN SYSDATE - UPLOAD_DATE < 1
			THEN FLOOR( (SYSDATE - UPLOAD_DATE) * 24) || '시간 전'
			ELSE TO_CHAR(UPLOAD_DATE, 'YYYY-MM-DD')
		END UPLOAD_DATE
		]]>
		FROM BOARD b 
		JOIN MEMBER USING(MEMBER_NO) JOIN "MEMBER_INFO" USING(MEMBER_NO)
		WHERE "DELETE" = 'N'
		AND BOARD_NO = #{boardNo}
		ORDER BY BOARD_NO DESC
	</select>
</mapper>
