#sidebar > ul > li:last-child > a {
    background-color: #eee;
}

.search_wrap {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search_wrap > span {
    font-weight: bold;
}
.search_wrap > select {
    border: none;
}
.search_wrap > select:focus {
    outline: none;
}


.condition_select > .fa-angle-up { display: none; }
.search_wrap > ul { 
    list-style: none;
}

.search_box {
    display: flex;
    width: 388px;
    height: 40px;
    background-color: #eee;
    align-items: center;
    padding: 0 15px;
    border-radius: 50px;
    margin: 0 20px;
}
.search_box > input {
    border: none;
    background-color: #eee;
    width: 388px;
    height: 40px;
    padding-left: 15px;
}
.search_box > input:focus {
    outline: none;
}
/* 검색 버튼 */
#submit {
    background-color: #4A6EA9;
    color: white;
    width: 70px;
    border-radius: 50px;
    margin-left: 0;
}

/* 게시판 열 너비 */
.feedback-no { width: 10%; }
.user-no { width: 10%; }
.feedback-content { width: 45%; }
.regist-date { width: 10%; }
.complete-date { width: 10%; }
.feedback-condition { width: 15%; }

/* 내용(.feedback-content) 열 왼쪽 정렬 */
.feedback-content {
    padding-left: 20px;
    text-align: left;
}

/* 의견 처리상태 */
.feedback-condition-icon {
    font-weight: bold;
    width: 100px;
    height: 25px;
    border-radius: 50px;
    color: white;
    text-align: center;
    padding: 2px;
}
/* 이 부분은 DB에 저장된 정보에 따라 출력할 상태를 결정할 것임 */
.feedback-condition-icon.in-porgress { background-color: #4A6EA9; display: none; }
.feedback-condition-icon.complete { background-color: #8C8D8F; display: inline-block; }