#content {
    min-width: 950px;
}

#details {
    width: 920px;
    height: 504px;
    margin-top: 34px;
}

.row {
    border-bottom: 1px solid #E5E5E5;
    padding: 17px 10px;
}

/* 활성버튼 설정 */
#bottom > button:not(:disabled) {
    background: #4A6EA9;
    color: white;
}

#bottom > button:hover:not(:disabled) {
    background: #35507a;
    transition-duration: 0.1s;
}

.alert {
    background: darkred !important;
}

.alert:hover {
    background: rgb(88, 1, 1) !important;
}

/* 계정 상태 */
.account {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.account > div {
    font-weight: bold;
    width: 100px;
    height: 25px;
    border-radius: 50px;
    color: white;
    text-align: center;
}
.account > span {
    margin-left: 10px;
}