#sidebar > ul > li:first-child > a {
    background-color: #eee;
}

.profile-img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.search_wrap {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search_wrap > span {
    font-weight: bold;
}
.search_wrap > select {
    border: none;
}
.search_wrap > select:focus {
    outline: none;
}


.condition_select > .fa-angle-up { display: none; }
.search_wrap > ul { 
    list-style: none;
}

.search_box {
    display: flex;
    width: 388px;
    height: 40px;
    background-color: #eee;
    align-items: center;
    padding: 0 15px;
    border-radius: 50px;
    margin: 0 20px;
}
.search_box > input {
    border: none;
    background-color: #eee;
    width: 388px;
    height: 40px;
    padding-left: 15px;
}
.search_box > input:focus {
    outline: none;
}
/* 검색 버튼 */
#submit {
    background-color: #4A6EA9;
    color: white;
    width: 70px;
    border-radius: 50px;
    margin-left: 0;
}


.user-no { width: 15%; }
.user-name { width: 15%; }
.email { width: 40%; }
.regist-date { width: 15%; }
.account-condition { width: 15%; }
.user-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
}
.user-name img {
    margin-right: 10px;
}

/* 계정 상태 */
.account-condition {
    display: flex;
    align-items: center;
    justify-content: center;
}
.account-condition > div {
    font-weight: bold;
    width: 100px;
    height: 25px;
    border-radius: 50px;
    color: white;
    text-align: center;
    padding: 2px;
}

/* DB에 저장된 계정 상태에 따라 클래스 선택 */
.normal { background-color: #4A6EA9; }
.disabled { background-color: #8C8D8F; }
.dropped { background-color: black; }