#content {
    min-width: 950px;
}

#details {
    width: 920px;
    height: 504px;
    margin-top: 34px;
}

.row {
    border-bottom: 1px solid #E5E5E5;
    padding: 17px 10px;
}

.row > input {
}

.account-condition {
    font-weight: bold;
    width: 100px;
    height: 25px;
    border-radius: 50px;
    color: white;
    text-align: center;
    padding: 2px;
}

/* 계정 상태 */
.account-condition.normal { background-color: #4A6EA9; display: inline-block; }
.account-condition.disabled { background-color: #8C8D8F; display: none;}
.account-condition.dropped { background-color: black; display: none; }