
	MEMBER_NO memberNo
	INFO_INTRO 	infoIntro
	INFO_HOBBY 	infoHobby
	INFO_GENDER 	infoGender
	INFO_BIRTH 	infoBirth
	INFO_IMG 	infoImg
	INFO_JOB 	infoJob
	INFO_COLLEGE 	infoCollege
	INFO_HIGH 	infoHigh
	INFO_MIDDLE 	infoMiddle
	INFO_ELEMENTARY 	infoElementary
	INFO_RESIDENCE 	infoResidence
	INFO_BIRTHPLACE 	infoBirthplace
	INFO_SNS 	infoSns
	INFO_LANG 	infoLang
	ROMANTIC_YN 	romanticYn
	INFO_NICK 	infoNick
	INFO_TEXT 	infoText
	INFO_BACK 	infoBack
	INFO_PROFILE 	infoProfile



<result property="infoIntro" column="INFO_INTRO" />
<result property="infoHobby" column="INFO_HOBBY" />
<result property="infoGender" column="INFO_GENDER" />
<result property="infoBirth" column="INFO_BIRTH" />
<result property="infoImg" column="INFO_IMG" />
<result property="infoJob" column="INFO_JOB" />
<result property="infoCollege" column="INFO_COLLEGE" />
<result property="infoHigh" column="INFO_HIGH" />
<result property="infoMiddle" column="INFO_MIDDLE" />
<result property="infoElementary" column="INFO_ELEMENTARY" />
<result property="infoResidence" column="INFO_RESIDENCE" />
<result property="infoBirthplace" column="INFO_BIRTHPLACE" />
<result property="infoSns" column="INFO_SNS" />
<result property="infoLang" column="INFO_LANG" />
<result property="romanticYn" column="ROMANTIC_YN" />
<result property="infoNick" column="INFO_NICK" />
<result property="infoText" column="INFO_TEXT" />
<result property="infoBack" column="INFO_BACK" />
<result property="infoProfile" column="INFO_PROFILE" />


MEMBER_NO
INFO_INTRO
INFO_HOBBY
INFO_GENDER
INFO_BIRTH
INFO_IMG
INFO_JOB
INFO_COLLEGE
INFO_HIGH
INFO_MIDDLE
INFO_ELEMENTARY
INFO_RESIDENCE
INFO_BIRTHPLACE
INFO_SNS
INFO_LANG
ROMANTIC_YN
INFO_NICK
INFO_TEXT
INFO_BACK
INFO_PROFILE