/***************************폰트 설정*********************************/
@font-face {
    font-family: 'NotoSansKR';
    src: url('/resources/fonts/NotoSansKR-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'NotoSansKR';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/********************************************************************/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body,
main {
    height: 100%;
}

.content {
    height: 100%;
}

.friendNav {
    background-color: white;
    border-right: 1px solid black;
    width: 360px;
    height: 100%;
    min-width: 360px;
    position: fixed;
}


.back {
    height: 35px;
    width: 35px;
    margin-left: 12px;
    margin-top: 8px;
    border-radius: 50%;
}

.back:hover {
    background-color: #F2F3F5;
}

.backfriend {
    text-decoration: none;
    color: #65676b;
}

.allfriend {
    width: 288px;
    height: 28px;
    font-size: 24px;
}

.frtopbox {
    width: 100%;
    height: 50px;
    display: flex;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.frmidbox {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.hr2 {
    width: 328px;
    text-align: center;
    margin-left: 11px;
    border: 0.5px solid #e3e4e6;
}

/* 매인 */
#mainfrbox {
    width: 1560px;
    margin-left: 360px;
    background-color: #EBEDF0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainbox {
    width: 441px;
    height: 194px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imgmain {
    width: 112px;
    height: 112px;
}

#maintext {
    font-size: 20px;
}

#lafrbel {
    width: 300px;
    height: 36px;
    background-color: #f0f2f5;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 8px;
    display: flex;
}

#searchFrBox {
    width: 328px;
    height: 36px;
    margin: 16px;
    padding-left: 10px;

}

#searchfr {
    width: 328px;
    height: 36px;
    background-color: #f0f2f5;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: 0;
}

#searchimg {
    width: 26px;
    height: 36px;
}

#searchimg>img {
    width: 17px;
    height: 17px;
    margin-top: 9px;
}

#friendRQBox {
    margin-left: 11px;
    padding-top: 14px;
    padding-bottom: 20px;
}

#friendRQ {
    color: #050505;
    font-weight: bold;
    font-size: 17px;

}
/* 요청 프사,확인,삭제 박스 */
.frtopdiv {
    width: 340px;
    height: 83px;
    display: flex;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.frtopdiv:hover {
    background-color: #EBEDF0;
}
/* 프사 */
.proimg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* 프사외. */
.frbox {
    width: 280px;
    height: 72px;
    display: flex;
}
.friendAll{
    width: 250px;
    height: 72px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* 이름 */
.friendName {
    font-size: 17px;
    font-weight: bold;
    color: #050505; 
}

.namecount{
    width: 280px;
    height: 72px;
}

.pulsnav{
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-left: 20px;
    background-color: #ffffff;
    border-radius: 50%;
}
.pulsnav:hover{
    background-color: #EBEDF0;
}
.pulsnav>img{
    width: 25px;
    height: 25px;
}

/* ... 클릭했을때 나오는거  */
.frmenu{
    position: relative;
    left: 271px;
    width: 240px;
    height: 40px;
    border: black solid 1px;
    background-color: #ffffff;
    display: none;
    top: -26px;
}

.noFriend{
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.noFriend:hover {
    background-color: #EBEDF0;
}


.searchbtn{
    display: none;

}


/* 검색창 드롭다운 영역 */

#searchFrBox > label {
    margin-top: 22px;
    width: 300px;
}

.frsearch {
    margin-top: 5px;
}

.frsearch > div {
    padding: 5px;
    cursor: pointer;
    background-color: #f0f2f5;
    z-index: 999;
    position: relative;
    /* background-color: white; */
}

.searchList > div:hover {
    
    height: 30px;
    background-color: rgb(207, 204, 204);
    z-index: 999;
    /* background-color: white; */
}